[Unit]
Description=service SILVUE CG1000
After=mysqld.service
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=on-failure
RestartSec=2
TimeoutSec=1
KillMode=control-group

User=root
WorkingDirectory=/opt/SILVUECG1000/
ExecStart=/opt/SILVUECG1000/SiLVueFEP

[Install]
WantedBy=multi-user.target

