[Unit] 
Description=Redundancy service SILVUE CG1000
After=fep.service 
StartLimitIntervalSec=5 

[Service] 
Type=simple 
Restart=on-failure 
RestartSec=2 
User=root 
WorkingDirectory=/opt/SILVUECG1000/
ExecStart=/opt/SILVUECG1000/redundancy 

[Install]
WantedBy=multi-user.target
